
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8E2DE2; 
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.calculator {
  background: whitesmoke;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0,0,0, 0.8);
}

.calculator-display {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
  overflow-x: auto;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Lucida Console', 'Lucida Sans Regular', sans-serif;
}

.calculator-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(199,199,199, 0.8);
}

.operator {
  background: grey;
  color: white;
  font-size: 30px;
  text-shadow: 0 1px 3px black;
}

.clear {
  background:rgba(0,0,0, 0.1);
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 1px 3px black;
}

button:hover {
  font-weight: 400;
  filter: brightness(90%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}


/* custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 


/* media query large vertical */
@media screen and (max-width: 600px){
  .calculator {
    width: 95%;
  }
}